<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gwyn.stageflow"
      android:versionCode="5"
      android:versionName="1.04">
            		<uses-sdk android:minSdkVersion="7"></uses-sdk>
      
    <application android:icon="@drawable/icon" android:label="StageFlow" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity android:name=".ConnectActivity"
       			  android:configChanges="orientation"
                  android:label="StageFlow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PresentActivity"
       			  android:configChanges="orientation"
                  android:label="StageFlow">

        </activity>
        <activity android:name=".HelpActivity"
       			  android:configChanges="orientation"
                  android:label="StageFlow">

        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 